body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../../public/-24.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  position: absolute; /* Posiciona a imagem de forma absoluta */
  top: 10px;             /* Alinha ao topo */
  left: 40px;            /* Alinha à esquerda */
  width: 110px;       /* Ajuste a largura da imagem conforme necessário */
  height: auto;       /* A altura será ajustada proporcionalmente */
}

.login-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 41px;
  background-color: rgba(0, 0, 0, 0.228);
  backdrop-filter: blur(30px);
  border: 0.1px solid #ffffff9e;
  border-radius: 19px;
  
  max-width: 400px;
  width: 100%;
}

.login-container h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #ffffff;
}

.login-container .error-message {
  color: red;
  margin-bottom: 10px;
}

.login-container label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
  align-self: flex-start;
}

.login-container .error-asterisk {
  color: red;
  margin-left: 5px;
}

.input-error {
  border: 1px solid red;
}

.login-container input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 10px;
  width: 250px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background: transparent;
  border-radius: 8px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.9s, width 0.3s;
}

.login-container input:focus {
  border-color: #ffffff;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.3);
  width: 257px;
  outline: none;
}

.login-container input:hover {
  border-color: #ffffff;
  width: 257px;
  outline: none;
}

.login-container button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: 250px;
  transition: background-color 0.3s ease, width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-container button:hover {
  background-color: #ffffff;
  width: 257px;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.3);
}

.login-container .signup-link {
  font-size: 14px;
  color: #ffffff;
}

.login-container .signup-link a {
  color: #00d0ff;
  text-decoration: none;
  font-weight: bold;
}

.login-container .signup-link a:hover {
  text-decoration: underline;
}

.button-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #ffffff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
  margin-left: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* para telas de tablet */
@media (min-width: 600px) and (max-width: 900px) {
  .login-container {
    padding: 50px;
    max-width: 500px;
  }

  .login-container h2 {
    font-size: 28px;
  }

  .login-container input {
    width: 300px;
  }

  .login-container button {
    width: 300px
  }
}

/* para telas de smartphone */
@media (max-width: 599px) {
  .login-container {
    padding: 20px;
    max-width: 100%;
  }

  .login-container h2 {
    font-size: 20px;
  }

  .login-container button {
    width: 78%;
  }

  .login-container label {
    font-size: 14px;
  }

  .login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
}