body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/Users/gustavocae/Downloads/clonea3/Sem Título/Form-Processing-Front/public/-24.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


  img {
    position: absolute; /* Posiciona a imagem de forma absoluta */
    top: 10px;             /* Alinha ao topo */
    left: 40px;            /* Alinha à esquerda */
    width: 110px;       /* Ajuste a largura da imagem conforme necessário */
    height: auto;       /* A altura será ajustada proporcionalmente */
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 41px;
    background-color: rgba(0, 0, 0, 0.228);
    backdrop-filter: blur(30px);
    border-radius: 19px;
    border: 0.1px solid #ffffff9e;

    overflow: hidden;

    max-width: 400px;
    width: 110%;
    position: relative;
  }
  
  .signup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
  }
  
  .signup-container .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .signup-container .success-message {
    color: green;
    margin-bottom: 10px;
  }
  
  .signup-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    align-self: flex-start;
  }
  
  .signup-container .error-asterisk {
    color: red;
    margin-left: 5px;
  }
  
  .signup-container input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 10px;
    width: 250px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: transparent;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s,  box-shadow 0.9s, transform 0.3s;
  }

  .signup-container input:focus {
    border-color: #ffffff;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.3);
    outline: none;
  }
  
  .signup-container input:hover {
    border-color: #ffffff;
    transform: scale(1.03);
    outline: none;


  }
  
  
  .signup-container button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 250px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  .signup-container button:hover {
    background-color: #ffffff;
    transform: scale(1.03);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.3);
  }
  
  .signup-container .login-link {
    font-size: 14px;
    color: #ffffff;
  }
  
  .signup-container .login-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-container .login-link a:hover {
    text-decoration: underline;
  }
  
  /* Modal styles */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .modal-content h3 {
    margin-bottom: 20px;
  }
  
  .modal-content button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
  }
  
  .modal-content button:hover {
    background-color: #0056b3;
  }
  
  /* Media query for tablets */
  @media (min-width: 600px) and (max-width: 900px) {
    .signup-container {
      padding: 50px;
      max-width: 500px;
    }
  
    .signup-container h2 {
      font-size: 28px;
    }
  
    .signup-container input {
      width: 300px;
    }
  
    .signup-container button {
      width: 300px;
    }
  }
  
  /* Media query for smartphones */
  @media (max-width: 599px) {
    .signup-container {
      padding: 20px;
      max-width: 100%;
    }
  
    .signup-container h2 {
      font-size: 20px;
    }
  
    .signup-container input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  
    .signup-container button {
      width: 100%;
    }
  
    .signup-container label {
      font-size: 14px;
    }
  }